*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Google fonts start */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
/* Google fonts end */

/* shared style start */
.container{
    max-width: 1140px;
    border: 4px solid red;
    margin: 0 auto;
}
body{
 background-color: #F5F8FF;
}
/* shared style end */
/* nav bar start */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    border: 4px solid black;
}
.nav-logo{
width: 135px;
height: 82px;
aspect-ratio: 135/82;
}
.nav-item ul{
    display: flex;
    gap: 47px;
    }
.nav-item li{
    list-style: none;
}
.nav-item a{
color: #8987A1;
font-family: "Inter", sans-serif;
font-size: 16px;
font-weight: 398px;
line-height: 23px;
text-decoration: none;
}
.nav-item .item-home{
color: #252432;
font-family:"Inter", sans-serif;
font-size: 16px;
font-weight: 698;
line-height: 23px;
}
.nav-cart{
    display: flex;
    gap: 10px; 
}
.nav-cart img{
width: 24px;
height: 24px;
}
.nav-cart-p{
color: #000;
font-family: "Inter", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
}
/* nav bar end */
/* Banner section start */
.banner{
    border: 4px solid blue;
    display: flex;
    align-items: end;
    height: 461px;
    margin-top: 120px;

}
.banner-content{
    border: 2px solid black;
    width: 50%;
}
.banner-title{
    color: #000;
font-family: "Noto Serif";
font-size: 65px;
font-weight: 700;
}
.pink{
   color: #E95A08;
font-family: "Noto Serif";
font-size: 65px;
font-weight: 700;
}
.banner-description{
  color: rgba(0, 0, 0, 0.50);
font-family: Inter;
font-size: 22px;
font-weight: 400;
padding-top: 13px;
}
.banner-imge{
    border: 2px solid aqua;
    width: 50%;
}
.banner-imge img{
    width: 100%;
    height: 100%;
}
/* Banner section end */
/* Plants section start */
.Plants{
border: 2px solid #E95A08;
}
.Plants-content{

}
.Plants-title{
color: #E95A08;
text-align: center;
font-family: "Noto Serif";
font-size: 50px;
font-weight: 700;
}
.plants-title-black{
color: #000;
}
.Plants-content p{
    margin: 16px auto;
    border: 2px #000 solid;
width: 888px;
color: rgba(0, 0, 0, 0.50);
text-align: center;
font-family: Inter;
font-size: 22px;
font-weight: 400;

}
.plante-image{
margin-top: 50px;
display:grid;
grid-template-columns: repeat(4,1fr);
gap: 30px 15px;

}
.plante-image img{



}
.plante-image h4{
font-family: "Inter", sans-serif;
padding-top: 20px;
text-align: center;
color: #111;
font-size: 22px;
font-weight: 500;
line-height: 150%;
}
.plante-image h3{
font-family: "Inter", sans-serif;
margin-top: 10px;
text-align: center;
color: #111;
font-size: 22px;
font-weight: 700;
line-height: 150%;
} 

.plants-btn{
margin-top: 30px;
border: none;
background: #E95A08;
display: flex;
height: 50px;
padding: 26px 50px;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
} 
.plants-btn button{
 font-family: "Inter", sans-serif;
border: none;
background: #E95A08;
color: #FFF;
font-size: 16px;
font-weight: 600;
}

/* Plants section end */

/* Responsive design for mobile devices */
@media screen and ( max-width:576px){
    /* nav responsive start */
    .nav-bar{
        margin-top: 13px;
       padding: 0 16px;
    }
    .nav-item{
     display: none;
    }
    .nav-logo{
    width: 63px;
    height: 38px;
    }
    .nav-logo img{
        width: 100%;
        height: 100%;
    } 
    /* nav responsive end */
     /* Banner responsive start */
     .banner{
    display: flex;
    flex-direction: column-reverse;
   
   margin-top: 28px;
}
.banner-content{
 
    width: 100%;
    padding: 28px 16px;
    
}
.banner-title{

font-size: 24px;

}
.pink{

font-size: 24px;

}
.banner-description{
font-size: 14px;
}
.banner-imge{
 
width: 393.177px;
height: 245px;

    
}
     /* Banner responsive end */
     /* Banner section start */
.banner{
    border: 4px solid blue;
    display: flex;
    align-items: end;
    height: 461px;
    margin-top: 120px;

}
.banner-content{
    border: 2px solid black;
    width: 50%;
}
.banner-title{
    color: #000;
font-family: "Noto Serif";
font-size: 65px;
font-weight: 700;
}
.pink{
   color: #E95A08;
font-family: "Noto Serif";
font-size: 65px;
font-weight: 700;
}
.banner-description{
  color: rgba(0, 0, 0, 0.50);
font-family: Inter;
font-size: 22px;
font-weight: 400;
padding-top: 13px;
}
.banner-imge{
    border: 2px solid aqua;
    width: 50%;
}
.banner-imge img{
    width: 100%;
    height: 100%;
}
/* Banner section end */
/* Plants section start */
.Plants{
    width: 100%;
border: 2px solid #E95A08;
}
.Plants-content{

}
.Plants-title{
font-size: 24px;
}
.plants-title-black{
color: #000;
}
.Plants-content p{

width: 90%;
font-size: 14px;

}
.plante-image{
height: 196.5px;
padding: 0 14px;
margin-top:25px;
display:grid;
grid-template-columns: repeat(2,1fr);
gap: 25px 15px;

}
.plante-image img{
width: 100%;

}
.plante-image h4{
font-size: 16px;
padding-top: 15px;
}
.plante-image h3{
margin-top: 8px;
font-size: 16px;
} 
.plants-btn{
margin-top: 15px;

} 
.plants-btn button{
font-size: 12px;
}

/* Plants section end */
}
